.parallaxObjects{
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    opacity: 1;
}
.parallaxObjects-WrapAbsolute{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.parallaxObjects-WrapRelative{
    position: relative;
    width: 100%;
    height: 100%;
}
.parallaxObjects-WrapContent{
    position: relative;
}