$color1 = #F2F2F2
$color2 = #46474B
$colors = #DF494A #E3793F #EFC94C #46B19D #4390b1 #7f4ab1 #b144b0 #b1404b #b17d50 #c0cb66 #7acb73 #78cbc3
/*@import url(http://fonts.googleapis.com/css?family=Abel);*/

/* latin */
@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: local('Abel'), local('Abel-Regular'), url(../fonts/abel.woff2) format('woff2');
  unicode-range: U + 0000 -00FF, U + 0131, U + 0152 -0153, U + 02C6, U + 02DA, U + 02DC, U + 2000 -206F, U + 2074, U + 20AC, U + 2212, U + 2215, U + E0FF, U + EFFD, U + F000;
}

body, html
  margin 0
  font-family Abel, Abel-Regular, Helvetica, Arial

section, footer
  clear left
  float left
  display block
  width 100%

footer
  background-color #324C5D
  height 100vh

section
  &:nth-child(1)
    background-color $color1
    color $color2
    height 1000vh
    text-align center
    h1
      font-size 5em
      width 100%
      margin-top 15%
      margin-bottom 0
    h2
      margin-top 0
    a
      font-size 2em
      background-color #DF494A
      padding 5px 20px
      color $color1
      &:hover
        background-color $color2
      cursor pointer

  for num in (11..0)
    &:nth-child({num + 2})
      height (80 - (num * 5)) vh
      background-color $colors[num]

circle($num, $color)
  border-radius 50%
  width ($num * 5) px
  height ($num * 5) px
  transform: translate(-50%, -50%);
  if $color == 1
    background-color $color1
    color $color2
  else if $color == 2
    background-color $color2
    color $color1
  else
    background-color invert($color)
    color $color

.background-color-1
  background-color $color1

.background-color-2
  background-color $color2

.font-color-1
  color $color1

.font-color-2
  color $color2

.objbase-1
  top 200px
  left 50%
  z-index 10
  circle(20, 2)

.objbase-2
  top 400px
  left 50%
  z-index 10
  circle(20, 2)

/*.objbase-3*/
/*top -180vh*/
/*left 50%*/
/*z-index 10*/
/*circle(20,$colors[2])*/

/*$nexobj = 3*/

/*for numi in (1..5)*/
/*for num in (1..8)*/
/*.obj-{$nexobj}*/
/*top 0 + (numi * 200)px*/
/*left (num * 16)%*/
/*circle(10,$colors[1])*/
/*$nexobj = $nexobj + 1*/

/*section:nth-child(3)*/
/*h2*/
/*margin-top  10vh*/
/*text-align center*/
/*font-size 3em*/
/*color $color1*/
/*margin-bottom 100px*/
/*&:nth-child(3)*/
/*margin-top 0px*/
/*pre*/
/*position relative*/
/*left 50%*/
/*width 50%*/
/*transform: translate(-50%, -50%);*/
/*code*/
/*padding 30px*/

/*.obj-example-1*/
/*top 20%*/
/*left -30px*/
/*circle(30,$colors[2])*/

